
//.slide-text animation smartphones
 //@mixin animationTransformSmar {
    //@keyframes transform {
      //  0% {
       //   transform: translate(0, -50%);
      //    opacity: 0;
      //  }
      //  15% {
       //   transform: translate(0, 50%);
       //   opacity: 0.5;
       // }
        //30% {
        //  transform: translate(0, 65%);
        //  opacity: 1;
        //}
        //45% {
       //   transform: translate(0, 65%);
       //   opacity: 1;
       // }
       // 55% {
        //  transform: translate(0%, 90%);
        //  opacity: 1;
        //}
        //60% {
        //  transform: translateX(0%, 200%);
        // opacity: 1;
        //}
       // 80% {
        //  transform: translateX(0%, 250%);
        //  opacity: 0.5;
        //}
      
        //100% {
        //  transform: translate(0%, 300%);
         // opacity: 0;
        //}
      //}

    
  //}
  //.slide-text animation smartphones
  @mixin animationTransformSmar {
    @keyframes transform {
        0% {
          transform: translate(0, -20%);
          opacity: 0.5;
          color: #fff;
        }
 
        25% {
          transform: translate(0, 50%);
          opacity: 1;
          color: red;
        }
      
        50% {
          transform: translateX(0%, 50%);
          opacity: 1;
          color: gold;
        }
        75% {
          transform: translateX(0%, 150%);
          opacity: 1;
          color: red;
        }
      
        100% {
          transform: translate(0%, 250%);
          opacity: 0;
        }
      }

    
  }




//.slide-text animation PC
//@mixin animationTransformPc  {
  //  @keyframes transform {
   //     0% {
     //       transform: translate(0%, -30%);
    //        opacity: 0;
      //    }
     //     25% {
      //      transform: translate(0%, 0%);
       //     opacity: 1;
       //   }
       //   50% {
        //    transform: translate(0%, 50%);
        //    opacity: 1;
        //  }
        //  80% {
        //    transform: translate(0%, 80%);
        //    opacity: 1;
        //  }
         // 100% {
         //   transform: translate(0%, 100%);
         //   opacity: 0;
         // }
     // }

    
  //}


  @mixin animationTransformPc  {
    @keyframes transform {
        0% {
            transform: translate(-100%, 150%);
            opacity: 0;
          }
          25% {
            transform: translate(-50%, 150%);
            opacity: 1;
          }
          50% {
            transform: translate(0%, 150%);
            opacity: 1;
          }
          75% {
            transform: translate(0%, 150%);
            opacity: 1;
          }
          100% {
            transform: translate(120%, 150%);
            opacity: 1;
           
          }
      }

    
  }


  //.slide-text animation color
  @mixin animationColor{
    animation: transform-color 30s ease-in infinite;
    
  @keyframes transform-color{

    0% {
      transform: translate(0%, -30%);
      opacity: 0;
      color: red;
    }
    25% {
      transform: translate(0%, 0%);
      opacity: 1;
      color: #fff;
    }
    50% {
      transform: translate(0%, 50%);
      opacity: 1;
      color: red;
    }
    80% {
      transform: translate(0%, 80%);
      opacity: 1;
      color: #fff;
    }
    100% {
      transform: translate(0%, 100%);
      opacity: 0;
      color: red;
    }
 

  }
  }

//.slide-text animation galery
@mixin slide{
  animation: slide-ani 30s infinite;
  @keyframes slide-ani {
  25% {
    background-image: url("/src/image/salon-hiver.jpg");
    background-position: center;
    background-size: cover;
  }
  50% {
    background-image: url("/src/image/passio\ dar\ bibine.jpg");
    background-position: center;
    background-size: cover;
  }
  75% {
    background-image: url("/src/image/entree dar bibine.jpg");
    background-position: center;
    background-size: cover;
  }

  100% {
    background-image: url("/src/image/raum-sweet-entree.jpg");
    background-position: center;
    background-size: cover;
  }
}
}
