$primary:#07152e;
$b-g-c:#FFF5EE;
$color-font:#fff;
$red: red;


$font-s:font-size  0.8rem;
$font-xs:font-size  1rem;
$font-m:font-size  1.2rem;
$font-xm :font-size 1.4rem;
$font-l:font-size  1.6rem;
$font-xl:font-size  2rem;
$font-xxl:font-size  3rem;